<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gratitude Journal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <a href="/logout" id="logout">Logout</a>
    <section id="container">
        <nav>
            <ul id="journal-entries">
                <h2>past entries</h2>
                <% entries.forEach(entry => {%>
                    <li class="entry">
                        <a href="/entries/<%=entry._id %>">
                            <span><%= entry.date.toDateString()%></span>
                        </a> 
                    </li>
                <% }) %>
            </ul>
            <ul id="journal-entries-mobile">
                <a href="/logout" id="logout-mobile">Logout</a>
                <h2>past entries</h2>
                <% entries.forEach(entry => {%>
                    <li class="entry">
                        <a href="/entries/<%=entry._id %>">
                            <span><%= entry.date.toDateString()%></span>
                        </a> 
                    </li>
                <% }) %>
            </ul>
            <i id="burger" class="fa-solid fa-bars fa-xl"></i>
        </nav>

        <main id="journal-container">
            <h2>today I'm grateful for</h2>
            <form action="/entries/createEntry" method="POST" class="daily-entry">
                <input type="text" placeholder="1st thing" name="first">
                <input type="text" placeholder="2nd thing" name="second">
                <input type="text" placeholder="3rd thing" name="third">
                <button type="submit">submit</button>
            </form>
        </main>
    </section>
    <script src="https://kit.fontawesome.com/2a62a14c4f.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>
</html>