<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gratitude Journal</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main id="create">
        <h1>Start a Gratitude Journal</h1>
        <section>
            <a href="/login" class="login-signup"> Login</a>
            <a href="/signup" class="login-signup"> Signup</a>
        </section>
    </main>
</body>
</html>